body {
  margin: 0px;
  font-family: Arial, sans-serif;
  background-image: url(/img/body-bg.gif);
  background-repeat: repeat-x;
  background-position: left top;
  font-size: 0.75em;
  background-color: #FFFFFF;
}

a img {
  border: 0px;
}

#container {
  width: 963px;
  margin: 0px auto 0px auto;
}

#header {
  height: 111px;
  padding: 39px 0px 0px 21px;
  /*padding: 23px 0px 0px 21px;*/
}

#header .logo {
  /*margin: 31px 78px 0px 0px;*/
  margin: -16px 79px 10px 1px;
  float: left;
}

#header form {
  padding: 0px;
  margin: 0px;
}

#header form .panel {
  width: 348px;
}

#header .panel {
  background-image: url(/img/header-panel-bg.gif);
  background-repeat: no-repeat;
  background-position: right;
  height: 61px;
  float: left;
  margin: 29px 0px 0px 0px;
}

#header .panel .interior {
  background-image: url(/img/header-panel-left.gif);
  background-repeat: no-repeat;
  height: 37px;
  padding: 12px 14px 12px 12px;
}

#header .panel .interior input {
  float: left;
}

#header .panel .interior input.textbox {
  float: left;
  background-color: #FFFFFF;
  border: solid 1px #EFEFEF;
  color: #757575;
  font-size: 117%;
  width: 225px;
  font-family: Arial, sans-serif;
  padding: 9px 9px 10px 11px;
  margin: 0px 12px 0px 0px;
}

#header-info {
  float: right;
  width: 236px;
  color: #757575;
  margin-top: -19px;
}

#header-info p {
  /*margin: 10px 0px 0px 0px;
  float: left;*/
  margin: 0 0;
  padding: 6px 0px 8px 9px;
}

#header-info p img {
  float: left;
  margin: 2px 7px 0px 0px;
}

#header-info form {
  float: right;
  margin: 10px 0px 0px 0px;
  padding: 2px 4px 6px 6px;
}

#header-info form select {
  float: left;
}

#header-info form img {
  margin: 4px 0px 0px 5px;
  float: left;
}

#header-info form select {
  font-size: 11px;
  font-family: Arial, sans-serif;
  color: #757575;
}

#header-info .account-nav a {
  color: #757575;
  text-decoration: underline;
  font-weight: bold;
}

#header .panel#mini-basket {
  background-image: url(/img/header-basket-bg.gif);
  margin-top: 0px;
  width: 100%;
  height: 53px;
  clear: both;
  cursor: default;
}

#header .panel#mini-basket .bubble {
  position: absolute;
  top: -68px;
  left: -110px;
  background-image: url(/img/minibasket-bubble.png) !important;
  background-image: url(/img/minibasket-bubble.gif);
  background-repeat: no-repeat;
  width: 150px;
  height: 79px;
  overflow: hidden;
  padding: 12px 11px 0px 18px;
  color: #FFFFFF;
}

#header .panel#mini-basket .bubble h3 {
  padding: 0px 0px 0px 1px;
  margin: 0px 0px 0px 0px;
  cursor: default;
}

#header .panel#mini-basket .bubble p {
  padding: 4px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  line-height: 120%;
  cursor: default;
}

#header .panel#mini-basket .bubble p a {
  color: #FFFFFF;
  padding-left: 3px;
}

#header .panel#mini-basket .interior {
  background-image: url(/img/header-basket-left.gif);
  height: 34px;
  padding: 10px 0px 9px 9px;
  position: relative;
}

#header .panel#mini-basket .interior .mb-contents {
  float: left;
  background-image: url(/img/minibasket-bg.gif);
  background-position: top right;
  background-repeat: no-repeat;
  height: 34px;
  margin-right: 11px;
}

#header .panel#mini-basket .interior .mb-contents .mb-contents-inner {
  background-image: url(/img/minibasket-left.gif);
  background-position: top left;
  background-repeat: no-repeat;
  padding: 9px 15px 10px 10px;
}

.mb-contents-inner span {
  padding: 0px 3px 0px 3px;
}

.mb-contents-inner strong {
  color: #000000;
}

#header .panel#mini-basket .interior .button {
  position: absolute;
  top: 12px;
  right: 14px;
}

#navigation {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 2px;
  background-repeat: no-repeat;
  clear: both;
}

#navigation > ul {
  margin: 0px;
  padding: 0px 0px 0px 8px;
  list-style: none;
  background-image: url(/img/nav-bg.gif);
  background-repeat: no-repeat;
  font-size: 100%;
  height: 42px;
}

#navigation > ul > li {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  display: inline;
  float: left;
  position: relative;
}

#navigation > ul > li.divide {
  background-image: url(/img/nav-divide.gif);
  background-repeat: no-repeat;
  background-position: 8px 0px;
  padding-left:18px;
}

#navigation > ul > li > a {
  float: left;
  color: #C4C2C2;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  /*padding: 13px 9px;*/
  padding: 13px 11px;
  text-shadow: #000000 0px 1px 2px;
}

#navigation > ul > li:hover > a,
#navigation > ul > li > a:hover {
  color: #FFFFFF;
}

#navigation > ul > li > a.selected {
  color: #FFFFFF;
  background-image:url(/img/static/static-arrow.png) !important;
  background-image:url(/img/static/static-arrow.gif);
  background-repeat:no-repeat;
  background-position:center top;
  z-index:99;
}

#navigation li > ul {
  z-index: 99999999;
  opacity: 0;
  position: absolute;
  top: -9999px;
  left: -1px;
  background: #fff;
  padding: 5px 0;
  margin: 0;
  list-style: none;
  width: 167px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  border-radius: 0 0 4px 4px;
  border: 1px solid #D3D3D3;
  border-top: 0;
  -webkit-transition: opacity 0.2s ease-out;  /* Chrome, Safari 3.2+ */
     -moz-transition: opacity 0.2s ease-out;  /* Firefox 4-15 */
       -o-transition: opacity 0.2s ease-out;  /* Opera 10.50–12.00 */
          transition: opacity 0.2s ease-out;  /* Firefox 16+, IE 10+, Opera 12.50+ */
}

#navigation > ul > li:hover > ul {
  opacity: 1;
  top: 100%;
}

#navigation li > ul > li {
  margin: 0;
  padding: 0;
}

#navigation li > ul > li > a {
  display: block;
  padding: 5px 11px;
  background: #fff;
  text-decoration: none;
  color: #444;
}

#navigation li > ul > li > a:hover {
  background: #444;
  color: #fff;
}


#banner {
/*  margin: 17px 0px 0px 3px;*/
  margin: 4px 0px 0px 3px;
}

#banner img {
  display: block;
}

#lower-container {
  background-repeat: no-repeat;
  background-position: top right;
  padding: 0px 0px 10px 0px;
  float: left;
  width: 100%;
}

#lower-container.reflect {
  background-image: url(/img/lower-container-bg.gif);
}

#leftcol {
  float: left;
  width: 206px;
  padding: 17px 0px 0px 3px;
}

#leftcol .panel {
  background-image: url(/img/leftpanel-middle.gif);
  background-repeat: repeat-y;
  background-color: #E3E3E3;
}

#leftcol .panel .interior {
  background-image: url(/img/leftpanel-top.gif);
  background-repeat: no-repeat;
}

#leftcol .panel .base {
  background-image: url(/img/leftpanel-bottom.gif);
  background-repeat: no-repeat;
  height: 4px;
  overflow: hidden;
}

#leftcol .panel p.heading {
  margin: 0px 0px 0px 0px;
  padding: 14px 0px 0px 16px;
  font-size: 100%;
  font-weight: normal;
}

#leftcol .panel .refine {
  background-image: url(/img/refine-middle.gif);
  background-repeat: repeat-y;
  background-color: #F3F3F3;
  width: 191px;
  margin: 13px 0px 13px 7px;
  color: #757575;
}

#leftcol .panel .refine .interior {
  background-image: url(/img/refine-top.gif);
  background-repeat: no-repeat;
  padding-top: 3px;
}

#leftcol .panel .refine .base {
  background-image: url(/img/refine-bottom.gif);
  background-repeat: no-repeat;
  height: 4px;
  overflow: hidden;
}

#leftcol .panel .refine p {
  padding: 10px 0px 1px 12px;
  margin: 0px 0px 0px 0px;
}

#leftcol .panel .refine ul {
  list-style: none;
  margin: 5px 0px 0px 0px;
  padding: 0px 0px 4px 0px;
}

#leftcol .panel .refine ul li {
  padding: 0px 12px 0px 12px;
  margin: 0px;
  display: block;
  float: left;
  width: 160px;
}

#leftcol .panel .refine a {
  color: #757575;
  border-bottom: solid 1px #D3D3D3;
  display: block;
  text-decoration: none;
  padding: 8px 0px 7px 8px;
  float: left;
  width: 159px;
}

#leftcol .panel .refine a span {
  font-size: 92%;
}

#leftcol .panel .refine li.selected {
  background-image: url(/img/refine-arrow.gif);
  background-repeat: no-repeat;
  background-position: left center;
}

#leftcol .panel .refine li.selected a {
  color: #000000;
  padding-left: 18px;
  background-image: url(/img/refine-a-arrow.gif);
  background-repeat: no-repeat;
  background-position: 12px 15px;
  width: 149px;
}

#leftcol .panel .refine li.last a,
#leftcol .panel .refine #filters li:last-child a,
#leftcol .panel .refine #filters li ul li:last-child a,
#leftcol .panel .refine #filters li.open ul li:last-child a,
#leftcol .panel .refine #filters li:last-child ul li:last-child a {
  border-bottom: 0px;
  padding-bottom: 11px;
}

#leftcol .tab-box {
  position: relative;
}

#leftcol .tab-box .loadin {
  width: 206px;
  overflow: hidden;
  text-align: center;
}

#leftcol .tab-box .tabs {
  background-image: url(/img/tabbox-bg.gif);
  background-repeat: no-repeat;
  background-position: bottom;
  width: 196px;
  text-align: center;
  padding: 24px 10px 28px 0px;
  margin-bottom: 9px;
  color: #9B9B9B;
}

#leftcol .tab-box .tabs strong {
  font-weight: normal;
  color: #000000;
}

#leftcol .tab-box .tabs span {
  padding: 0px 9px 0px 9px;
}

#leftcol .tab-box .arrow-prev {
  width: 15px;
  height: 15px;
  overflow: hidden;
  display: block;
  background-image: url(/img/tabbox-arrows.gif);
  background-position: 0px top;
  text-decoration: none;
  line-height: 50px;
  position: absolute;
  left: 0px;
  top: 96px;
  z-index: 100;
}

#leftcol .tab-box .arrow-next {
  width: 15px;
  height: 15px;
  overflow: hidden;
  display: block;
  background-image: url(/img/tabbox-arrows.gif);
  background-position: 15px top;
  text-decoration: none;
  line-height: 50px;
  position: absolute;
  right: 0px;
  top: 96px;
  z-index: 100;
}

#leftcol .tab-box .info {
  background-image: url(/img/tabbox-info-bg.gif);
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  margin: 8px 0px 0px 0px;
  padding: 10px 0px 0px 0px;
}

#leftcol .tab-box .info h3 {
  font-family:Georgia, Times New Roman, serif;
  color: #000000;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 6px 0px;
  font-size: 100%;
}

#leftcol .tab-box .info h2 {
  font-family: Georgia, Times New Roman, serif;
  color: #9B9B9B;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 180%;
  font-weight:normal;
}

#leftcol .tab-box .info form {
  margin: 0px auto 0px auto;
  padding: 4px 0px 0px 0px;
  width: 122px;
  height: 60px;
}

#leftcol .tab-box .info form input {
  float: left;
}

#leftcol .tab-box .info form input.quantity {
  background-image: url(/img/tabbox-info-input.gif);
  background-repeat: no-repeat;
  border: 0px;
  width: 34px;
  height: 15px;
  padding: 7px 5px 6px 7px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 12px;
}

#content {
  float: right;
  width: 735px;
  padding: 17px 0px 0px 19px;
}

#content.wide {
  width: 960px;
  padding-left: 3px;
  padding-right: 0px;
  position: relative;
}

#footer {
  width: 100%;
  background-image: url(/img/footer-bg.gif);
  background-position: top;
  background-repeat: repeat-x;
  padding:30px 0px;
  text-align:center;
}

#global-nav {
  width: 963px;
  background-image: url(/img/global-nav-bg.gif);
  background-position: top;
  background-repeat: repeat-x;
  background-color: #FFFFFF;
  margin: 0px auto 0px auto;
  padding: 0px 0px 20px 0px;
  color: #757575;
  line-height: 18px;
}

#global-nav a {
  color: #444;
}

#global-nav span {
  font-size: 115%;
  line-height: 28px;
}

#global-nav span.last {
  font-size: 92%;
  line-height: 16px;
}

#global-nav p {
  margin: 0px 0px 0px 0px;
  padding: 20px 0px 0px 0px;
  float: left;
  width: 135px;
  font-size: 92%;  
}

#global-nav p a {
  text-decoration: none;
  color: #000;
}

#global-nav p a:hover {
  text-decoration: underline;
}

#global-nav p.first {
  background-image: url(/img/global-nav-bg-first.gif);
  background-position: top left;
  background-repeat: no-repeat;
  padding-left: 20px;
}

#global-nav dl {
  margin: 0px 0px 10px 0px;
  padding: 20px 0px 0px 0px;
  font-size: 92%;
  background-image: url(/img/global-nav-bg-last.gif);
  background-position: top right;
  background-repeat: no-repeat;
}

#global-nav dt {
  float: left;
  width: 70px;
  margin: 0px;
  padding: 0px;
}

#global-nav dd {
  color: #000;
  clear: right;
  margin: 0px;
  padding: 0px;
}

#global-nav dd a {
  color: #000;
}

#global-nav .schema {
  line-height: 1.2;
  float: left;
}
#global-nav .schema span {
  font-size: 100%;
  line-height: 1.2;
}
